/* App.css */

.Schedule-content {
  padding: 16px;
  padding-top: 0;
}

.Schedule-header {
  overflow: hidden;
  padding-top: 4px;
}

.Schedule-closeButton {
  float: right;
}

.Schedule-picker {
  margin-right: 16px;
  width: 50%;
}

.Schedule-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
}

.Schedule-buttonGroup {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
}

.Schedule-button {
  margin-left: 30px;
}

.Schedule-textField {
  
  width: 72%;
}

.Schedule-icon {
  margin: 16px 0;
  margin-right: 16px;
}

.Schedule-addButton {
  position: fixed;
  bottom: 20px;
  left: 50%;        
  transform: translateX(-50%);
  
}
