/* App.css */

.App-content {
  padding: 16px;
  padding-top: 0;
}

.App-header {
  overflow: hidden;
  padding-top: 4px;
}

.App-closeButton {
  float: right;
}

.App-picker {
  margin-right: 16px;
  width: 50%;
}

.App-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.App-buttonGroup {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
}

.App-button {
  margin-left: 16px;
}

.App-textField {
  width: 100%;
}

.App-icon {
  margin: 16px 0;
  margin-right: 16px;
}

.App-addButton {
  position: absolute;
  bottom: 24px;
  right: 32px;
}
